<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
	<add key="key" value="973c913cb182cd6d39665eb2025eaaa5" />
	<add key="secreatKey" value="4f1d7f71c1d3c9c43be02256733ec9dfd08ed56beb00dbe1717611c142403c6a" />
	<add key="username" value="lime" />
	<add key="applicationName" value="Lime" />
	<add key="tokenFile" value="authentication.token" />
	<add key="ClientSettingsProvider.ServiceUri" value="" />
</appSettings>